body{
	padding:50px 0px 0px 0px;
	z-index:0;
}
.row-header{
	margin:0px auto;
	padding:0px auto;
}
.row-content{
	margin:0px auto;
	padding:50px 0px 50px 0px;
	border-bottom:1px ridge ;
	min-height: 250px;
}
.footer{
	background-color:#FFEDE1;
	margin:0px auto;
	padding:20px 0px 20px 0px;
}
.jumbotron{
	padding:70px 30px 70px 30px;
	margin:0px auto;
	background:#0E1C36;	
	color:white;
}
address{
	font-size:80%;
}
nav{
	background:#8A817C;
}
.tab-content{
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding:10px;
}